:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    z-index: 1;
  }
  
  #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 50px solid black;
    border-right: 50px solid transparent;
  }

  .navbar-center {
    width: 100%;
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    background-color: #fff;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
   
   
  }
  

.fa-cart-plus {
  background: black;
  width: 50px;
  height: 50px;
 color: #fff;
  text-align: center;
  line-height: 50px;
  vertical-align:middle;
  padding:18px 10%;
}
  .cart-items {
    position: absolute;
    top: 2rem;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }
  .sort-options{
    float: right;
    position: relative;
    right: 8rem;
  }
  .list{
    float: left;
  }

    
  /* --------------- End of Navbar ---------------- */
/*----filter buttons----*/
.filter-box .btn {
  position: relative;
  left: 40px;
  text-decoration: none;
  padding: 2% 3%;
  margin: 1% 3%  3% 2%;
  border-radius: 50%;

}
.filter-box h4{
  position: relative;
  left: 30px;
  margin-bottom: 5%;
  
}
.content {
  position: relative;
  left: 30px;
  opacity: .7;
  margin-top: 10px;
  margin-bottom: 20px;
  
}
.gitBtn{
  position: relative;
  left: 50px;
  padding: 2% 5%
}
.sort-options{
  padding: 2% 5%
}
select { width:100px; height:30px; background:transparent; }


  /* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
    
    
  }
  .freeBtn{
    padding: 2% 5%;
    background-color: #222;
    color: #fff;
    margin-left: 8rem;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 7rem;
   
  }
  .img-container {
    position: relative;
    max-height: 70%;
    max-width: 70%;
    
    
  }
  .bag-btn {
  
    background: black;
    color:#fff;
    border: black;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    position: relative;
    top:8.2rem;
    left: 50px;
    bottom: 5rem;
   cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    
    text-align: center;
  }
  hr{
    width: 1.5rem !important;
    margin-top: 0.7rem;
    position: relative;
    left: 50%;
    color: #f09d51;
    
  }
  
  /* ---------------End of Products ---------------- */

  /* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  /*background: rgb(240, 157, 81, 0.5);*/
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  max-height: 80%;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
